<div class="github">
    <iframe src="https://ghbtns.com/github-btn.html?user=baig&repo=brackets-zotero&type=star&count=true" frameborder="0" scrolling="0" width="90px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=baig&repo=brackets-zotero&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=baig&repo=brackets-zotero&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
</div>