body {
    /*    font-family: "Open Sans";*/
/*    font-family: 'Fira Sans', sans-serif;*/
    font-family: 'Lato', serif;
    font-size: large;
    line-height: 2.5em;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: blue;
}

.gif > img {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(197, 195, 195, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(197, 195, 195, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(197, 195, 195, 0.75);
}

.github {
    padding: 25px 0 0 25px;
}

.social > li {
    padding: 10px;
}

.social > .fb-like,
.fb-share-button {
    top: -16px;
}

.g-plusone,
.twitter-share-button,
.fb-like,
.fb-share-button {
    margin: 0 10px 0 10px;
}

.g-plusone {
    margin 0 15px 0 15px;
}

#label {
    font-size: 12pt;
    line-height: 3;
}

#hamburger {
    position: absolute;
    right: 20px;
    stroke: white;
    fill: white;
    top: 11px;
}