body {
    font-family: "Libre Baskerville";
    font-size: normal;
    line-height: 1.5em;
}

h1 {
    font-family: 'Open Sans';
    font-weight: 700;
}

nav {
    font-family: 'Arial';
}

#footer {
    font-family: 'Verdana';
}

#footer a{
    color: #00FFFF;
}

.section {
  padding: 25px 0;
}

.section:first-of-type {
    padding-top: 75px;
}

a {
    text-decoration: none;
    color: blue;
}

.gif > img {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(197, 195, 195, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(197, 195, 195, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(197, 195, 195, 0.75);
}

.github {
    padding: 25px 0 0 25px;
}

.social > li {
    padding: 10px;
}

.social > .fb-like,
.fb-share-button {
    top: -7px;
}

.g-plusone,
.twitter-share-button,
.fb-like,
.fb-share-button {
    margin: 0 10px 0 10px;
}

.g-plusone {
    margin 0 15px 0 15px;
}

#label {
    font-size: 12pt;
    line-height: 3;
}

#hamburger {
    position: absolute;
    right: 20px;
    stroke: white;
    fill: white;
    top: 11px;
}

@media screen and (min-width: 500px) {
    body {
        font-size: large;
    }
    .section {
      padding: 50px 0;
    /*  padding:210px 0;*/
    }

    .section:first-of-type {
        padding-top: 100px;
    /*    padding-top: 140px;*/
    }
    .social > .fb-like,
    .fb-share-button {
        top: -8px;
    }
}

@media screen and (min-width: 960px) {
    body {
        line-height: 2em;
    }
    .social > .fb-like,
    .fb-share-button {
        top: -10px;
    }

}