#zotero-panel input[type="text"] {
    margin-bottom: 0px;
}

#zotero-search-results td:nth-child(1) {
    width: 1%;
}

#zotero-search-results td:nth-child(2) {
    width: 2%;
}

#zotero-search-results td:nth-child(4) {
    width: 40%;
}

#zotero-toolbar-icon {
    background: url(icons/brackets-zotero-icon.svg);
}

#zotero-toolbar-icon.active {
    background-position: 0 -48px !important;
}

/* Notify.js */

#zotero-notification-bar .alert {
    border-radius: 0;
    margin: 0;
}

#zotero-notification-bar .alert-red {
    color: white !important;
    background-color: #DA4453;
}

#zotero-notification-bar .alert-grey {
    color: white !important;
    background-color: #555555;
}