#zotero-panel input[type="text"] {
    margin-left: 3px;
    margin-bottom: 0px;
}

#zotero-panel .zotero-right-align i {
    background-color: inherit;
    position: absolute;
    /* vertically centers close button */
    top: 28%;
    right: 35px;
}

.panel-view-content div:first-child td:nth-child(1) {
    width: 1%;
}

.panel-view-content div:first-child td:nth-child(2) {
    width: 2%;
}

.panel-view-content div:first-child td:nth-child(4) {
    width: 40%;
}

.panel-view-content td span.highlight {
    color: black;
    background-color: yellow !important;
    border-radius: 4px !important;
    padding: 0 2px 0 2px !important;
}

#zotero-toolbar-icon {
    background: url(icons/brackets-zotero-icon.svg);
}

#zotero-toolbar-icon.active {
    background-position: 0 -48px !important;
}

/* Notify.js */

#zotero-notification-bar .alert {
    border-radius: 0;
    margin: 0;
    padding: 3px 0 4px 0;
    font-size: 12pt;
    text-align: center;
    position: relative;
    z-index: 1;
}

#zotero-notification-bar .alert-red {
    color: white !important;
    background-color: #DA4453;
}

#zotero-notification-bar .alert-grey {
    color: white !important;
    background-color: #555555;
}
